<ion-header>
    <ion-navbar color="theme">
        <ion-title>ตารางเรียน</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="body">
        <div *ngIf="data.length==0">
            <ion-list *ngIf="loading && !loaded">
                <ion-item>
                    <h2 class="mt-6 text-center">กำลังโหลด...</h2>
                </ion-item>
            </ion-list>
            <ion-list *ngIf="!loading || loaded">
                <ion-item>
                    <h2 class="mt-6 text-center">ไม่พบรายวิชาที่เรียน</h2>
                </ion-item>
            </ion-list>
        </div>
        <div *ngIf="( !loading && data.length>0 ) || loaded">
            <ion-list>
                <ion-item *ngFor="let item of data | orderBy: 'time1'">
                    <ion-icon name='time' item-start></ion-icon>
                    <h2 class="mt-6">{{ item.subject }}</h2>
                    <ion-note class="item-time" item-end>
                        {{ item.time1 }} - {{ item.time2 }}
                    </ion-note>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>
