page-home {
    .title-image {
        width: 200px;
        margin: auto;
    }
    .title-image img {
        width: 100%;
    }
    .app-name {
        font-size: 29px;
        color: #5c3faf;
        font-weight: bold;
        margin-top: 20px;
    }
}
